asgiref==3.9.1 ; python_version >= "3.12"
dj-database-url==3.0.1 ; python_version >= "3.12"
django-debug-toolbar==5.2.0 ; python_version >= "3.12"
django-extensions==4.1 ; python_version >= "3.12"
django==5.2.4 ; python_version >= "3.12"
djangorestframework==3.16.0 ; python_version >= "3.12"
psycopg2-binary==2.9.10 ; python_version >= "3.12"
sqlparse==0.5.3 ; python_version >= "3.12"
tzdata==2025.2 ; sys_platform == "win32" and python_version >= "3.12"
